<template>
  <div class="container" id="login">
    <div class="event-register-container">
        <div class="novo-evento-container">
          <h3>{{ isEdit ? form.performer : 'Novo Evento' }}</h3>
          <b-tabs content-class="mt-3">
            <b-tab title="Informações" active>
              <div>
                <div class="row">
                  <div class="col-md-12">
                  <h4>Dados da Banda</h4>
                    <div class="form-group event-register-input">
                    <label>Nome da Banda <span class="error-msg" v-if="error_perfomer">Campo Obrigatório</span></label>
                      <input 
                        type="text" 
                        v-model="form.performer" 
                        name="performer" class="form-control" id="performer">
                    </div>    
                  </div>
                  <div class="col-md-6">
                    <div class="form-group event-register-input">
                    <label>Contato  (opcional)</label>
                      <input 
                        type="text" 
                        v-model="form.performer_phone" 
                        name="perfomer-phone" class="form-control" id="perfomer-phone">
                    </div>    
                  </div>
                  <div class="col-md-6">
                    <div class="form-group event-register-input">
                      <label>E-mail (opcional)</label>
                      <input 
                        type="email" 
                        v-model="form.performer_email" 
                        name="performer-email" class="form-control" id="performer-email">
                    </div>    
                  </div>
                </div>
                <div class="row novo-evento-dados-banda">
                  <div class="col-md-12">
                  <h4>Dados do Evento</h4>
                    <div class="col-md-4">
                    <div class="form-group event-register-input">
                    <label>Data <span class="error-msg" v-if="error_event_date">Campo Obrigatório</span></label>   
                      <VueCtkDateTimePicker 
                        v-model="form.event_date"
                        locale="pt-BR"
                        :no-button-now="true" 
                        format="YYYY-MM-DD"
                        formatted="LL"
                        :only-date="true"
                        @input="onChangeDate"
                        label="Data do evento"
                      />
                    </div>    
                  </div>
                  <div class="col-md-4">
                    <div class="form-group novo-evento-hora-input">
                     <label>Horário <span class="error-msg" v-if="error_event_hour">Campo Obrigatório</span></label>               
                      <vue-timepicker
                        format="HH:mm"
                        v-model="form.event_hour"
                        placeholder="Hora/Minuto"
                        :disabled="false"
                        input-class="form-control teste"
                      ></vue-timepicker>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group novo-evento-valor-input">
                      <label>Valor da Entrada </label>  
                      <input 
                        type="text" 
                        v-model="form.event_value" 
                        name="event-value" class="form-control" id="event-value">
                    </div>    
                  </div>
                  <div class="col-md-4">
                    <div class="form-group event-register-input">
                    <label>Link do Facebook</label> 
                      <input 
                        type="text" 
                        v-model="form.event_facebook_link" 
                        name="facebook-link" class="form-control" id="facebook-link">
                    </div>    
                  </div>
                  <div class="col-md-4">
                    <div class="form-group event-register-input">
                     <label>Valor do Estacionamento</label>
                      <input 
                        type="text" 
                        v-model="form.parking_lot_value" 
                        name="parking-lot-value" class="form-control" id="parking-lot-value">
                    </div>    
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group event-register-input">
                    <label>Descrição do Evento</label>
                      <textarea 
                        row="4"
                        v-model="form.description" 
                        class="form-control"></textarea>
                    </div>  
                  </div>
                </div>
            
                <!--Third row -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group event-register-input">
                      <label for="avatar">Foto Grande: <span class="error-msg" v-if="error_file_bg">Campo Obrigatório</span></label>
                      <input 
                        type="file" 
                        id="file" 
                        ref="bgFile" 
                        class="custom-file-input-s"
                        @change="getBgPhoto"
                        accept="image/png, image/jpeg">
                    </div>   
                  </div>
                  <div class="col-md-12">
                    <div class="photo-container">
                      <img v-if="new_photo_bg" :src="new_photo_bg">
                      <img v-if="form.photo_bg && !new_photo_bg" :src="form.photo_bg">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group event-register-input">
                      <label for="avatar">Foto Pequena: <span class="error-msg" v-if="error_file_card">Campo Obrigatório</span></label>
                      <input 
                        type="file" 
                        id="file" 
                        ref="smFile" 
                        class="custom-file-input-s"
                        @change="getSmPhoto" 
                        accept="image/png, image/jpeg">
                    </div>    
                  </div>
                  <div class="col-md-12">
                    <div class="photo-container">
                      <img v-if="new_photo_card" :src="new_photo_card">
                      <img v-if="form.photo_card && !new_photo_card" :src="form.photo_card">
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <!--Second row -->
                <div class="row">
     
                </div>
              </div>              
            </b-tab>
            <b-tab title="Promoções">
              <div class="container nova-promocao-container">
                <div class="row md-12">
                  <div class="col-md-3">
                    <button class="btn  btn-adicionar-promocao" @click="addRow">
                      Adicionar Promoção
                    </button>
                  </div>
                </div>          
                <div class="row md-12 promocoe-item" v-for="(component, index) in form.promotion" :key="index">
                  <div class="input-group col-md-7">
                    <input type="text" v-model="form.promotion[index].promotion" class="form-control rounded-0">
                  </div>
                  <div class="input-group col-md-2">
                    <input type="number" step=".01" v-model="form.promotion[index].value" class="form-control rounded-0">
                  </div>
                  <div class="col-md-3">
                    <button class="btn promocao-btn-excluir" @click="deleteRow(index)">
                      Excluir
                    </button>
                  </div>      
                </div> 
              </div>
            </b-tab>
          </b-tabs>
        </div>
          <div class="spinner-loader" v-if="loading">
            <span class="spinner-grow text-success" role="status" aria-hidden="true"></span>
            <span class="spinner-grow text-success" role="status" aria-hidden="true"></span>
            <span class="spinner-grow text-success" role="status" aria-hidden="true"></span>
          </div>
        <button 
          v-if="!loading"
          @click.prevent="saveEvent" 
          class="btn btn-salvar">Salvar</button>
    </div>

  </div>
</template>

<script>
import { mapState } from 'vuex';
import Datepicker from 'vuejs-datepicker';
import { ptBR } from 'vuejs-datepicker/dist/locale';
import { monthsArray } from '@/services/monthsArray';
import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';
import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css';
import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'

export default {
  name: "eventRegister",
  components: { 
    VueTimepicker,
    VueCtkDateTimePicker
  },
  data() {
    return {
      modelo: '',
      ptBR: ptBR,
      new_photo_card: null,
      new_photo_bg: null,
      form: {
        id: null,
        pub_id: process.env.VUE_APP_PUB_ID,
        performer: '',
        performer_phone: '',
        performer_email: '',
        description: '',
        event_date: '',
        event_hour: '00:00',
        event_value: 'Grátis até as 20:00 horas. Após este horário entrada no valor de R$20,00',
        parking_lot_value: 'R$25,00 (Vallet)',
        photo_bg: null,
        photo_card: null,
        new_photo_card: null,
        new_photo_bg: null,
        promotion: [ 
          {
            promotion: 'Heineken Long Neck',
            value: 9.0
          },
          {
            promotion: '1/2 Pint Heineken',
            value: 7.0
          },
          {
            promotion: 'Pint Heineken',
            value: 12.0
          },
          {
            promotion: 'Pint Paulaner',
            value: 23.0
          },
          {
            promotion: 'Caipirinha de Smirnoff Limão',
            value: 15.0
          },
          {
            promotion: 'Caipirinha de Saque Frutas Vermelhas',
            value: 17.0
          }
        ],
        event_url: '',
        event_facebook_link: ''
      },
      isEdit: false,
      error_perfomer: false,
      error_event_date: false,
      error_event_hour: false,
      error_file_bg: false,
      error_file_card: false,
    }
  },
  created() {
    if(this.$route.params.url){
      let data = {
        id: this.$route.params.url
      }
      this.$store.dispatch('events/getEvent', data)
      this.isEdit = true
      return
    }
    this.clearForm();
    this.isEdit = false
  },
  methods: {
    addRow() {
      this.form.promotion.push('');
    },
    deleteRow(index) {
      this.form.promotion.splice(index,1)
    },
    getBgPhoto(event) {
      this.form.photo_bg = event.target.files[0]
      let reader = new FileReader()
      reader.onload = (e) => {
        this.new_photo_bg = e.target.result
      }
      reader.readAsDataURL(event.target.files[0])
    },
    getSmPhoto(event) {
      this.form.photo_card = event.target.files[0]
      let reader = new FileReader()
      reader.onload = (e) => {
        this.new_photo_card = e.target.result
      }
      reader.readAsDataURL(event.target.files[0])
    }, 
    formValidation() {
      this.error_perfomer = false
      this.error_event_date = false
      this.error_event_hour = false
      this.error_file_bg = false
      this.error_file_card = false
      
      if(!this.form.performer){
        this.error_perfomer = true
      }
      if(!this.form.event_date){
        this.error_event_date = true
      }
      if(!this.form.event_hour){
        this.error_event_hour = true
      }
      if(!this.form.photo_bg){
        this.error_file_bg = true
      }
      if(!this.form.photo_card){
        this.error_file_card = true
      }
      if(
          this.error_perfomer || this.error_event_date || 
          this.error_event_hour || this.error_file_bg ||
          this.error_file_card ){
            return false;
          }
      return true;
    },
    clearForm() {
      this.new_photo_card = null
      this.new_photo_bg = null
      this.form = {
        id: null,
        pub_id: process.env.VUE_APP_PUB_ID,
        performer: '',
        performer_phone: '',
        performer_email: '',
        description: '',
        event_date: '',
        event_hour: '00:00',
        event_value: 'Grátis até as 20:00 horas. Após este horário entrada no valor de R$20,00',
        parking_lot_value: 'R$25,00 (Vallet)',
        photo_bg: null,
        photo_md: null,
        photo_card: null,
        new_photo_card: null,
        new_photo_bg: null,
        promotion: [ 
          {
            promotion: 'Heineken Long Neck',
            value: 9.0
          },
          {
            promotion: '1/2 Pint Heineken',
            value: 7.0
          },
          {
            promotion: 'Pint Heineken',
            value: 12.0
          },
          {
            promotion: 'Pint Paulaner',
            value: 23.0
          },
          {
            promotion: 'Caipirinha de Smirnoff Limão',
            value: 15.0
          },
          {
            promotion: 'Caipirinha de Saque Frutas Vermelhas',
            value: 17.0
          }
        ],
        event_url: '',
        event_facebook_link: '',
      }
      this.error_perfomer = false
      this.error_event_date = false
      this.error_event_hour = false
      this.error_file_bg = false
      this.error_file_card = false

      if(this.$refs.bgFile && this.$refs.bgFile.value)this.$refs.bgFile.value = null
      if(this.$refs.smFile && this.$refs.smFile.value)this.$refs.smFile.value = null
    },
    saveEvent() {
      if(!this.formValidation()){
        return
      }

      this.form.event_date = `${this.form.event_date} ${this.form.event_hour}` 
      if(this.isEdit){
        this.form.new_photo_card = false;
        this.form.new_photo_bg = false;
        if(this.new_photo_card) this.form.new_photo_card = true
        if(this.new_photo_bg) this.form.new_photo_bg = true
        
        let img = this.form.photo_bg.split('/')
        this.form.photo_bg = `/${img[1]}/${img[3]}`
        img = this.form.photo_card.split('/')
        this.form.photo_card = `/${img[1]}/${img[3]}`

        this.$store.dispatch('events/editEvent', this.form)
        return
      }
      this.$store.dispatch('events/newEvent', this.form)
      this.clearForm();
    },
    onChangeDate(event) {
      let year = this.form.event_date.substring(0,4)
      let month = this.form.event_date.substring(5,7)
      let day = this.form.event_date.substring(8,10)
      this.form.event_url = `${day}-${monthsArray()[parseInt(month)-1]}-${year}`
    },
    customFormatter(date) {
      return moment(date).format('DD/MM/YYYY');
    }
  },
  computed: mapState('events',['event', 'promotions', 'loading']),
  watch: {
    event(event) {
      if (event && this.$route.params.url) {  
        let year = event.event_date.substring(0,4)
        let month = event.event_date.substring(5,7)
        let day = event.event_date.substring(8,10)
        let date = `${year}-${month}-${day}`
        let hour = event.event_date.substring(11,16)

        let img = event.photo_bg.split('/')[2]
        event.photo_bg = `/storage/public/${img}`
        img = event.photo_card.split('/')[2]
        event.photo_card = `/storage/public/${img}`

        this.form = {
          id: event.id,
          pub_id: process.env.VUE_APP_PUB_ID,
          performer: event.performer,
          performer_phone: event.performer_phone,
          performer_email: event.performer_email,
          description: event.description,
          event_date: date,
          event_hour: hour, 
          event_facebook_link: event.event_facebook_link,
          event_value: event.event_value,
          parking_lot_value: event.parking_lot_value,
          photo_bg: event.photo_bg,
          photo_card: event.photo_card,
          promotion: [],
          event_url: event.event_url
        }
      }
    },
    promotions(promotions) {
      if(promotions){
        this.form.promotion = promotions
      }
    }
  }
}
</script>

<style>
  .error-msg {
    color: red;
    font-size: 10px;
  }

  .event-register-input {
    text-align: left;
  }

  .event-register-input input {
    min-height:42px;
  }

  .event-register-input label {
    color: rgba(0, 0, 0, 0.5);
    display:block;
  }
  .vue__time-picker {
    width: 100% !important;
  }

  .vue__time-picker input.display-time {
    width: 100% !important;
  }

  .login-form{
    margin-top: 30px;
  }

  .login-input {
    margin: auto;
    margin-bottom: 10px;
  }

  .promocoe-item {
    margin-bottom: 25px;
  }

  .promocao-btn-excluir {
    background-color: #f56c6c;
    border-color: #f56c6c;
    color: #fff;
    transition: 0.5s;
  }

  .promocao-btn-excluir:hover {
    background-color: #ec6262;
    border-color: #ec6262;
    color: #fff;
  }

  .btn-salvar {    
    width: 155px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #40d697;
    border-color: #40d697;
    margin-top:20px;
    margin-bottom:60px;
  }

  .btn-salvar:hover {  
    color: #fff;
    background-color: #40d697;
    border-color: #40d697;
  }

  .btn-adicionar-promocao {
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 10px;
    width: 220px;
    background-color: #5793d4;
    border-color: #5793d4;
    color: #fff;
  }

  .btn-adicionar-promocao:hover {
    color: #fff;
    background-color:#4c91dc;
    border-color:#4c91dc;
  }

  .novo-evento-container h3 {
    display: block;
    margin-bottom: 30px;
    color: #5B5351;
    font-weight: 400;
  }

  .novo-evento-container h4 {
    display: block;
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 20px;
    color: #5B5351;
  }

  .novo-evento-dados-banda {
    margin-bottom: 25px;
  }

  .novo-evento-dados-banda .col-md-4 {
    float:left;
    padding-left: 0px;
    margin-bottom: 20px;
  }

  .novo-evento-hora-input input {
    height:42px !important;
    background-color: #fff !important;
  }

  .novo-evento-valor-input input {
    height:42px;
  }

  .nova-promocao-container {
    padding-left: 0px;
  }

  .photo-container {
    margin-bottom: 15px;
  }

  .photo-container img {
    height: 240px;
  }
</style>
