<template>
  <div class="container" id="login">
    <router-link 
            to="/dashboard/event-register"
            class="btn btn-outline-success mb-4" >Novo Evento</router-link>
    <div class="event-list-container">
      <b-table
        id="my-table"
        :items="eventList"
        :per-page="perPage"
        :current-page="currentPage" 
        :fields="tableFields"
        :busy="loading"
        small
      >    
        <template v-slot:table-busy>
          <div class="text-center text-danger my-2">
            <b-spinner class="align-middle"></b-spinner>
          </div>
        </template>
        <template v-slot:cell(performer)="data">
          <div 
            class="event-performer">{{ data.value }}</div>
        </template>

        <template v-slot:cell(event_date)="data">
          {{ data.value | getDate }}
        </template>

        <template v-slot:cell(event_hour)="data">
          {{ data.value | getHour }}
        </template>
        
        <template v-slot:cell(performer_email)="data">
          {{ data.value }}
        </template>

        <template v-slot:cell(performer_phone)="data">
          {{ data.value }}
        </template>

        <template v-slot:cell(actions)="row">
          <router-link class="btn btn-outline-primary btn-sm mr-2" :to="`/dashboard/event-register/${row.item.event_url}`">Editar</router-link>
          <button class="btn btn-outline-danger btn-sm" @click="deleteEvent(row.item.id)">Excluir</button>  
        </template>

      </b-table>
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import swal from 'sweetalert2'

export default {
  name: "listEvents",
  components: {  },
  data() {
    return {
        isBusy: true,
        perPage: 10,
        currentPage: 1,
        tableFields: [
          { key: 'performer', label:'Artista'},
          { key: 'event_date', label: 'Data do evento' },
          { key: 'event_hour', label: 'Horário' },
          { key: 'performer_phone', label: 'Contato' },
          { key: 'performer_email', label: 'Email' },
          { key: 'actions', label: 'Ações'}
        ],
      }
  },
  created() {
    this.$store.dispatch('events/eventList')
  },
  methods: {
    deleteEvent(id) {
      let data = { id }

      swal.fire({
        title: 'Excluir evento!',
        text: "Você deseja excluir este evento!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        cancelButtonText: 'Cancelar',
        confirmButtonText: 'Sim'
        }).then((result) => {
          if (result.value) {
            this.$store.dispatch('events/deleteEvent', data)
          }
        })

    }
  },
  computed: {
    eventList: {
      get() {
        return this.$store.state.events.eventList
      },
      set(value) {
        this.$store.commit('updateEventList', value)
      }
    },
    loading: {
      get() {
        return this.$store.state.events.loading
      }
    },
    rows() {
      return this.eventList.length
    }
  },
  filters: {
    getDate: function (value) {
      if (!value) return '-'
      let year = value.substring(0,4)
      let month = value.substring(5,7)
      let day = value.substring(8,10)
      return `${day}/${month}/${year}`
    },
    getHour: function(value){
      if (!value) return '-'
      return value.substring(11,16)
    }
  }
};
</script>

<style>
  .event-list-container {  }

  .event-performer {
    text-overflow: ellipsis;
    overflow-x: hidden;
    width: 150px;
  }


</style>
