<template>
  <div class="drinks-container" id="drinks">
      <div class="drink-img drink-label" :style="cssOutdoor">
         <div class="drink-page-title">
                  <h1>BEBIDAS</h1>
         <p>As promoções abaixo são válidas somente durante o nosso periodo de <span>Happy Hour </span> das <span>17:00 ás 20:00 </span>. Para ver o
         preço padrão acesse nosso cardápio completo</p>
         </div>

      </div>
      <div class="drink-info page-container">
         <div class="row">
            <div class="col-md-6">
               <div class="" :style="cssDrinkInfo1">
                  <div class="drink-promo-title">
                     <h2>PROMOÇÕES DE <br>CERVEJAS</h2>
                  </div>
               </div>
               <div class="drink-promo-list">
                  <ul>
                   <li>Heineken Long Neck - <span>R$9,00</span></li>
                  <li> 1/2 Pint Heineken - <span>R$7,00</span></li>
                   <li>Pint Heineken - <span>R$12,00</span></li>
                   <li>Pint Paulaner - <span>R$23,00</span></li>
                  </ul>
               </div>
            </div>
            <div class="col-md-6">
               <div class="drink-image" :style="cssDrinkInfo2">
                  <div class="drink-promo-title">
                     <h2>PROMOÇÒES DE <br>DRINKS</h2>
                  </div>
                   <div class="drink-promo-list">
                        <ul>
                           <li>Caipirinha de Smirnoff Limão - <span>R$15,00</span></li>
                           <li>Caipirinha de Saque Frutas Vermelhas  - <span>R$17,00</span></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-12">
               <div class="drinks-cardapio">
                     <a href="img/menu.pdf" target="_blank">VER CARDÁPIO DE BEBIDAS</a> 
               <div>
         </div>
            </div>
         </div>
      </div>
          </div>
  </div>
</template>

<script>

export default {
  name: "drinks",
  components: {  },
  data() {
      return{
         cssOutdoor: {
            background: `linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(${require('@/assets/imgs/drinks/drink-outdoor.png')})`,
            backgroundPosition: 'center',
            backgroundRepeat: 'no-repeat',
            height: '380px',
            color: '#fff',
         },
         cssDrinkInfo1: {
            background: `linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(${require('@/assets/imgs/drinks/drink1.png')})`,
            backgroundPosition: 'center',
            backgroundRepeat: 'no-repeat',
            height: '250px',
            width: '100%',
            fontSize: '28px',
            color: '#fff',
            
          
         },
         cssDrinkInfo2: {
            background: `linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(${require('@/assets/imgs/drinks/drink2.png')})`,
            backgroundPosition: 'center',
            backgroundRepeat: 'no-repeat',
            paddingTop: '12%',
            height: '250px',
            width: '100%',
            fontSize: '28px',
            color: '#fff',
            
         }
      }
   }
};
</script>

<style>

.drink-info {
   margin-top: 5%;
}

.drink-image {
   box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.52);
}

.drink-promo-title {
       display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}



.drink-promo-title h2 {
       font-size: 38px;
    font-weight: 400;
}

.drink-promo-list ul {
       margin-top: 21px;
    list-style: none;
    padding-left: 0px;
}
.drink-promo-list ul li {
       text-align: left;
    font-size: 18px;
    margin-bottom: 12px;
    color: #707070;
    font-weight: 400;
    
}

.drink-promo-list li span{
  
    font-weight: 500;
    
}

.drink-page-title {
       display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 520px;
    margin: auto;
}

.drink-page-title h1 {
       font-size: 52px;
    font-weight: 400;
    display: block;
    margin-bottom: 15px;
}
.drink-page-title p {
   font-size: 19px;
    font-weight: 300;
}

.drink-page-title span {
   font-weight:500;
}

.drinks-cardapio a {
       border: 1px solid #a98f71;
    padding: 15px;
    color: #a98f71;
    font-size: 21px;
    border-radius: 5px;
    transition: 0.3s;
    
}

.drinks-cardapio {
       display: block;
    width: 100%;
    margin-top: 60px;
}
.drinks-cardapio a:hover {
       border-color: #a98f71;
      color: #fff;
      background-color: #a98f71;

}
@media only screen  and (min-device-width : 320px) and (max-device-width : 568px)  { 

   .col-md-6 {
      margin-bottom:20px;
   }

   .drink-page-title {
      width:100%;
      padding: 24px;
   }

   .drink-page-title {
      font-size:32px;
   }

   .drink-info .col-md-6 {
      min-height: 400px;
   }

   .drinks-cardapio {
    margin-top: 30px;
    margin-bottom: 30px;
   }

   .drinks-cardapio a {
          font-size: 18px;

   }

   .drink-promo-title h2 {
       font-size: 32px !important;

      }
}
</style>
