<template>
  <div class="container" id="contact">
    <div class="contact-container">
      <form method="post" action="/formulario.php" class="contact-form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Nome" required>
            </div>
            <div class="form-group">
              <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
            </div>
            <div class="form-group">
              <input type="tel" name="telephone" class="form-control" id="telephone" placeholder="Telefone" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" id="message" rows="6" placeholder="Sua Mensagem" required></textarea>
            </div>
          </div>
          <div class="col-md-6">
            
          </div>
        </div>
        <button type="submit" class="btn-brown btn btn-outline-secondary btn-send">Enviar</button>
      </form>
    </div>
  </div>
</template>

<script>

export default {
  name: "contact",
  components: {  }
};
</script>

<style>
  .contact-container {
    text-align: left;
    width: 90%;
    margin:auto
  }

  .contact-form{
    margin-top: 30px;
  }

  .contact-container h2 {
    text-align: center;
    font-weight: 300;
    font-size: 28px;
  }

  .contact-container textarea {
    height: 146px;
  }
</style>
