<template>
  <div class="home" id="home">
      <div class="home-carousel">
         <carousel 
            :nav="true"
            :items="1">
               <CarouselCard 
                  v-for="item in carouselItens"
                  :img="item.img"
                  :title="item.title"
                  :text="item.text">
               </CarouselCard>
         </carousel>
      </div>

      <div class="events-section events-section-home">
         <span class="event-label">PRÓXIMOS EVENTOS</span>
         <div class="events-cards row">
            <EventCard 
               class="col-md-3"
               v-for="event in events"
               :img="event.photo_card"
               :date="event.event_date"
               :performer="event.performer"
               :url="event.event_url">
            </EventCard>
         </div>
      </div>

      <div class="menu-section">
         <div class="row">
            <div class="menu-img col-md-6">
               <img class="food-img" src="@/assets/imgs/food.png">
            </div>
            <div class="menu-info col-md-6">
               <div class="menu-label">
                  CONFIRA NOSSO<br> CARDÁPIO COMPLETO
               </div>
               <div class="menu-text">
                 Oferecemoos diversos pratos para que você possa desfrutar nosso o espaço de nosso pub enquanto escuta o melhor do rock'n roll. 
                 
         
               </div>
               <div class="menu-button">
                     <a href="img/cardapio.pdf" target="_blank">VER CARDÁPIO</a> 
               </div>
            </div>
         </div>
      </div>
  </div>
</template>

<script>
import EventCard from '@/components/event-card/EventCard.vue'
import CarouselCard from '@/components/carousel-item/CarouselCard.vue'
import carousel from 'vue-owl-carousel'
import { mapState } from 'vuex';

export default {
  name: "home",
  components: { 
    EventCard,
    CarouselCard,
    carousel
  },
  created() {
    this.$store.dispatch('page_events/nextEvents')
  },
  data() {
    return {
      carouselItens: [
            {
               title: "HAPPY HOUR",
               text: "De Segunda a Sabádo promoções de bebidas para você",
               img: require('@/assets/imgs/carousel.png')
            },
      ],
      events: [ ]
    }
  },
  computed: mapState('page_events',['nextEvents']),
  watch: {
    nextEvents(nextEvents) {
      if(nextEvents){
        this.events = nextEvents;
      }
    }
  },
};
</script>

<style>
.imgs {
   width: 100%;
}

.events-cards {
   margin-top: 1%;
}

.events-section-home {
   margin-left: 8%;
   margin-right: 8%;
}

.menu-section {
   margin-top: 5%;
   margin-left: 8%;
   margin-right: 8%;
}

.food-img {
   width: 100%;
}

.menu-label {
   text-align: left;
   line-height: 2rem;
   color: #5B5351;
    font-size: 23px;
}

.menu-text {
   text-align: left;
   margin-top: 8%;
   width: 85%;
   color: #5B5351;
}

.menu-button {
   margin-top: 8%;
   text-align: left;
}

.menu-button a {
   border: 1px solid #a98f71;
    padding: 15px;
    color: #a98f71;
    font-size: 16px;
    border-radius: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-button a:hover {
   background-color: #a98f71;
   color: #fff;
}
@media only screen  and (min-device-width : 320px) and (max-device-width : 568px)  { 

   .menu-label {
      margin-top:20px;
   }

   .menu-text {
      margin-top:4%;
   }

   .events-section-home {
          margin-top: 30px;
   }
}

</style>