<template>
  <div class="pub-container" id="pub">
      <div class="row">
          <div class="col-md-6">
              <h2>Sobre o Standard Pub</h2>
              <p>Inaugurado em agosto de 2019 por José Evaristo, sócio do já bem conceituado The Blue Pub, e Marcelo Castanheira, sócio da Frangaria, restaurante referência no setor, o Standard Pub traz uma gastronomia refinada, extensa carta de drinks e decoração inspirada na cidade de Chicago dos anos 60. Localizado próximo a Berrini - um dos mais movimentados centros executivos da cidade de São Paulo -, o estabelecimento oferece diversas opções de almoço executivo e estende-se como pub. 
                          A programação musical fica por conta de bandas de Rock N’ Roll selecionadas por sua qualidade, além de momentos de Jazz e Blues nos dias da semana.
              </p>
          </div>
          <div class="col-md-6">
              <img src="@/assets/imgs/pub-img.png">
          </div>
      </div>
      <div class="row pub-photos">
        <div class="col-md-4">
                <a href="#img1">
                    <img src="@/assets/imgs/obar/img-01-thumb.png" class="thumbnail">
                </a>
                <a href="#/obar" class="lightbox" id="img1">
                    <div class="photo-box">
                        <img src="@/assets/imgs/obar/img-01.jpeg">
                    </div>
                
                </a>
        </div>
                <div class="col-md-4">
                <a href="#img2">
                    <img src="@/assets/imgs/obar/img-02-thumb.png" class="thumbnail">
                </a>
                <a href="#/obar" class="lightbox" id="img2">
                     <div class="photo-box">
                        <img src="@/assets/imgs/obar/img-02.jpeg">
                    </div>
                </a>
        </div>
                <div class="col-md-4">
                <a href="#img3">
                    <img src="@/assets/imgs/obar/img-03-thumb.png" class="thumbnail">
                </a>
                <a href="#/obar" class="lightbox" id="img3">
                        <div class="photo-box">
                        <img src="@/assets/imgs/obar/img-03.jpeg">
                    </div>
                </a>
        </div>
                <div class="col-md-4">
                <a href="#img4">
                    <img src="@/assets/imgs/obar/img-04-thumb.png" class="thumbnail">
                </a>
                <a href="#/obar" class="lightbox" id="img4">
                      <div class="photo-box">
                        <img src="@/assets/imgs/obar/img-04.jpeg">
                    </div>
                </a>
        </div>
                <div class="col-md-4">
                <a href="#img5">
                    <img src="@/assets/imgs/obar/img-05-thumb.png" class="thumbnail">
                </a>
                <a href="#/obar" class="lightbox" id="img5">
                      <div class="photo-box">
                        <img src="@/assets/imgs/obar/img-05.jpeg">
                    </div>
                </a>
        </div>
                <div class="col-md-4">
                <a href="#img6">
                    <img src="@/assets/imgs/obar/img-06-thumb.png" class="thumbnail">
                </a>
                <a href="#/obar" class="lightbox" id="img6">
           <div class="photo-box">
                        <img src="@/assets/imgs/obar/img-06.jpeg">
                    </div>
                </a>
        </div>
                <div class="col-md-4">
                <a href="#img7">
                    <img src="@/assets/imgs/obar/img-07-thumb.png" class="thumbnail">
                </a>
                <a href="#/obar" class="lightbox" id="img7">
                      <div class="photo-box">
                        <img src="@/assets/imgs/obar/img-07.jpeg">
                    </div>
                </a>
        </div>
                <div class="col-md-4">
                <a href="#img8">
                    <img src="@/assets/imgs/obar/img-08-thumb.png" class="thumbnail">
                </a>
                <a href="#/obar" class="lightbox" id="img8">
                    <div class="photo-box">
                        <img src="@/assets/imgs/obar/img-08.jpeg">
                    </div>
                </a>
        </div>
                <div class="col-md-4">
                <a href="#img9">
                    <img src="@/assets/imgs/obar/img-09-thumb.png" class="thumbnail">
                </a>
                <a href="#/obar" class="lightbox" id="img9">
                       <div class="photo-box">
                        <img src="@/assets/imgs/obar/img-09.jpeg">
                    </div>
                </a>
        </div>
                <div class="col-md-4">
                <a href="#img10">
                    <img src="@/assets/imgs/obar/img-10-thumb.png" class="thumbnail">
                </a>
                <a href="#/obar" class="lightbox" id="img10">
             <div class="photo-box">
                        <img src="@/assets/imgs/obar/img-10.jpeg">
                    </div>
                </a>
        </div>
                <div class="col-md-4">
                <a href="#img11">
                    <img src="@/assets/imgs/obar/img-11-thumb.png" class="thumbnail">
                </a>
                <a href="#/obar" class="lightbox" id="img11">
                    <div class="photo-box">
                        <img src="@/assets/imgs/obar/img-11.jpeg">
                    </div>
                </a>
        </div>
                <div class="col-md-4">
                <a href="#img12">
                    <img src="@/assets/imgs/obar/img-12-thumb.png" class="thumbnail">
                </a>
                <a href="#/obar" class="lightbox" id="img12">
                    <div class="photo-box">
                        <img src="@/assets/imgs/obar/img-12.jpeg">
                    </div>
                </a>
        </div>
      </div>
      
  </div>
</template>

<script>

export default {
  name: "pub",
  components: {  }
};
</script>

<style>

.pub-container {
    
    margin-right: 8%;
    margin-left: 8%;
    margin-top:2%;
}

.pub-container h2 {
    color: #9F6858;
    font-size: 32px !important;
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 23px;
    display: block;
}
.pub-container img {

    width: 100%;
}

.pub-container p {
  text-align: left;
    color: #707070;
    font-size: 16px;
    line-height: 26px;
}

.pub-photos {
        margin-top: 32px;
}

.photo-box {
    cursor: pointer;
    position: relative;
    width: 45.76%;
    height: 0;
    padding-bottom: 45.76%;
    /* margin-bottom: 35px; */
    margin: auto;
}

.photo-box img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
        position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
        padding: 40px;

}

 @media only screen  and (min-device-width : 320px) and (max-device-width : 568px)  { 

    .photo-box {
        width:100%;
        padding-bottom: 100%;
    }
 }
</style>
