<template>
  <div class="dashboard" id="dashboard">
    <div class="row dashboard-container">
      <div class="side-menu">
        <div class="sidemenu-login">
            <img src="@/assets/imgs/logo.png">
        </div>
        <!--div class="sidemenu-item">
          <router-link 
            to="/dashboard/event-register"
            >Novo Evento</router-link>
        </div-->
        <div class="sidemenu-item">
          <router-link 
            to="/dashboard/event-list"
            >Eventos</router-link>
        </div>
        <div class="sidemenu-item">
          <span
            @click.prevent="logoutDashboard"
            >Sair</span>
        </div>
      </div>
      <div class="dasboard-content">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import { logout } from '@/services/auth'
import { mapState } from 'vuex'

export default {
  name: 'dashboard',
  methods: {
    logoutDashboard() {
      logout(this.currentUser.token)
        .then(res => {
          this.$store.commit("login/logout")
          this.$router.push({path: '/login'})
        })
        .catch(error => {
          //this.$store.commit("login/loginFailed", {error});
        })
    }
  },
  computed: mapState('login',['currentUser'])
}
</script>

<style>
  .dashboard{
    overflow-x:hidden;
  }

  .side-menu {
 
    text-align: left;
    width: 300px;
    background-color: #fff;
    /* position: absolute; */
    -webkit-box-shadow: 3px 3px 8px #0000002e;
    box-shadow: 3px 3px 8px #0000002e;
  }

  .sidemenu-item {
        /* margin-bottom: 15px; */
    font-weight: 400;
    font-size: 16px;
    /* padding: 35px; */
    background-color: #fff;
    padding-left: 40px;
    /* padding-top: 15px; */
    /* padding-bottom: 15px; */
    -webkit-transition: 0.5s;
    transition: 0.5s;
    height: 50px;
    cursor: pointer;
  }

  .sidemenu-item:hover {
     background-color:#f9f9f9;
  }

.sidemenu-item a {
     
    width: 100%;
    display: block;
    /* padding-top: 10px; */
    /* margin-top: 10px; */
    height: 100%;
    /* line-height: 23px; */
    padding-top: 13px;
    color: rgba(0, 0, 0, 0.5);
     transition:0.5s;

}

.sidemenu-item a:hover {
    color: #5B5351;
}

.sidemenu-item span {
  
   color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: block;
    /* padding-top: 10px; */
    /* margin-top: 10px; */
    height: 100%;
    /* line-height: 23px; */
    padding-top: 13px;
    transition:0.5s;
}

.sidemenu-item span:hover {
  color: #5B5351;
}
  .menu-item:hover {
    background-color: blue;
    cursor: pointer;

  }

  .dasboard-content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top:40px;
    float: right;
    display: flex;
    flex: 3;
    /*max-width: 960px;*/
  }

  .sidemenu-login img {

    width: 100%;
    display: block;
     margin-bottom: 30px;
    padding: 30px;
    padding-bottom: 0px;
    margin-top: 10px;

  }

  
  .dashboard-container {
        height: 100%;
    position: absolute;
 
    width: 100%;
  }

  .nav-tabs .nav-link.active {
    color: #A98F71 !important;
    font-weight: 500;
  }

  .nav-tabs .nav-item a {
    color:#5B5351;
  }
</style>
