<template>
  <div class="container" id="main">
    <div class="main-component">
      <div class="logo">
        <img src="@/assets/imgs/logo.png">
      </div>
      <b-navbar toggleable="lg" class="menu-container" id="page-top">
        <div class="menu-mobile">
        <b-navbar-brand href="#" class="logo-mobile">
          <img src="@/assets/imgs/logo-mobile.png">
        </b-navbar-brand>
           <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        </div>
     

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav class="main-menu">
            <b-nav-item v-on:click.prevent="onChangeTabs(1)">
              <router-link 
                to="/home" 
                class="nav-link menu-option"
                :class="{ 'active-tab': activeTab == 1 }"
              >Home</router-link>
            </b-nav-item>
            <b-nav-item v-on:click.prevent="onChangeTabs(6)">
              <router-link 
                to="/obar" 
                class="nav-link menu-option"
                :class="{ 'active-tab': activeTab == 6 }"
              >O Bar</router-link>
            </b-nav-item>
            <b-nav-item v-on:click.prevent="onChangeTabs(2)">
              <router-link 
                to="/bebidas" 
                class="nav-link menu-option"
                :class="{ 'active-tab': activeTab == 2 }"
              >Bebidas</router-link>
            </b-nav-item>
            <b-nav-item v-on:click.prevent="onChangeTabs(3)">
              <router-link 
                to="/agenda" 
                class="nav-link menu-option"
                :class="{ 'active-tab': activeTab == 3 }"
              >Agenda</router-link>
            </b-nav-item>
            <b-nav-item v-on:click.prevent="onChangeTabs(4)">
              <router-link 
                to="/contato" 
                class="nav-link menu-option"
                :class="{ 'active-tab': activeTab == 4 }"
              >Contato</router-link>
            </b-nav-item>
          </b-navbar-nav>
          <!-- Right aligned nav items -->
        </b-collapse>
      </b-navbar>
    </div>

    <router-view></router-view>

    <div class="checkout-section" :style="cssProps"> 
      <h3>GARANTA <span>ANTECIPADAMENTE</span> UM LUGAR <br> EM <span>NOSSO PUB</span></h3>
      <p>Ligue para nosso pub e reserve <br>uma mesa para você e seus amigos</p>
      <h4>(11) 5505-3445</h4>         
    </div>

    <div class="location-section">
      <div class="row">
        <div class="col-md-6">
          <div class="info-box">
            <div class="working-box">
              <div class="info-bg">
                HORÁRIO DE<br> FUNCIONAMENTO
              </div>
              <div class="info-sm">
                <div class="days-label">
                  <p><span>SEGUNDA-FEIRA: </span> 11:30 às 15:00, 17:00 às 02:00</p>
                </div>
                <div class="days-label">
                  <p><span>TERÇA-FEIRA: </span> 11:30 às 15:00, 17:00 às 02:00</p>
                </div>
                <div class="days-label">
                  <p><span>QUARTA-FEIRA: </span> 11:30 às 15:00, 17:00 às 03:00</p>
                </div>
                <div class="days-label">
                  <p><span>QUINTA-FEIRA: </span> 11:30 às 15:00, 17:00 às 04:00</p>
                </div>
                <div class="days-label">
                  <p><span>SEXTA-FEIRA: </span> 11:30 às 15:00, 17:00 às 04:00</p>
                </div>
                <div class="days-label">
                  <p><span>SÁBADO: </span> 11:30 às 15:00, 17:00 às 04:00</p>
                </div>       
              </div>
            </div>
            <div class="location-box">
              <div class="info-bg">
                LOCALIZAÇÃO
              </div>
              <div class="info-sm">
                <div class="days-label">
                  <p>
                    <span>
                      R. Quintana, 755 - Cidade Monções, São Paulo - SP, 04569-011
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map-box">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d228.50233790691053!2d-46.691393736558595!3d-23.602991373958158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce57f79eece851%3A0x1884a0dda3d93b24!2sStandard%20Rock%20&#39;N%20Beer%20Pub!5e0!3m2!1spt-BR!2sbr!4v1569898353837!5m2!1spt-BR!2sbr" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>


    <div class="footer">
      Copyrigth 2019
    </div>
  </div>
</template>

<script>

export default {
  name: "main",
  components: {  },
  data() {
    return{
      activeTab: 1,
      cssProps: {
            background: `url(${require('@/assets/imgs/section.jpg')})`,
            backgroundPosition: 'center',
            backgroundRepeat: 'no-repeat',
            marginTop: '8%',
            height: '335px'
        }
    }
  },
  methods: {
    onChangeTabs: function (tab) {
      this.activeTab = tab
    }
   }
};
</script>

<style>
.logo {
   padding-top: 35px;
}

.menu-container {
   margin-top: 2%;
   margin-bottom: 1%;
}

.main-menu{
   margin: auto;
}

.menu-option {
   color: #5B5351;
   font-size: 18px;
}

.menu-option:hover{
   color: #A98F71;
}

.menu-option-clicked {
   color: #A98F71;
   font-size: 18px;
}

.standard-input{
   background-color: transparent !important;
   border: 1px solid #fff !important;
   
}

.checkout-section {
   color: #fff;
}

.checkout-section h3 {
    font-size: 32px;
    line-height: 36px;
    display: block;
    padding-top: 40px;
    font-weight: 300;
}

.checkout-section h3 span {
   font-weight:500;
}
.checkout-section p {
     font-size: 18px;
    line-height: 26px;
    display: block;
    font-weight: 300;
    padding-top: 30px;
}

.checkout-section h4 {
     font-size: 32px;
    line-height: 26px;
    display: block;
    font-weight: 400;
    padding-top: 30px;
}

.location-section {
   margin-top: 35px;
   margin-left: 8%;
   margin-right: 8%;
}

.info-box {
   text-align: left;
}

.info-bg {
      line-height: 1.2em;
    font-size: 24px;
    margin-bottom: 17px;
    font-weight: 600;
    color: #5B5351;
}

.info-sm {
   font-size: 13px;
}

.location-box{
   margin-top: 8%;
}

.map-img {
   width: 100%;
}

.footer {
   padding-top: 6%;
   padding-bottom: 4%;
   color: #5B5351;
   font-size: 13px;
}
.days-label p {
       margin-bottom: 10px;
    font-size: 14px;
    font-weight:300;
}

.days-label p span {
font-weight:500;
}

.logo-mobile img{
   display:none;
}

@media only screen  and (min-device-width : 320px) and (max-device-width : 568px)  { 

   .logo img {

      width:100%;
      padding:10px;
   }

   .checkout-section {
      padding: 20px;
      height: auto !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
   }

   .checkout-section h3 {
      font-size: 29px;
      line-height: 35px;
      padding-top: 8px;
   }

   .checkout-section p {
    font-size: 16px;
    line-height: 23px;
    padding-top: 18px;
   }


   .checkout-section h4 {
          padding-top: 20px;
    padding-bottom: 20px;
   }
   .checkout-button {
      width:80%;
      margin:auto;
      margin-top:10px;
   }
   .standard-btn {
      
      display: block;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin: auto;
   }

   .logo {
      display:none;
   }

   .logo-mobile img {
      display:block;
      width: 200px;
      margin-right: 55px;
   }

   .menu-container{
      background-color: #fff;
    margin-top: 0px;
      padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    box-shadow:3px 6px 12px rgba(0, 0, 0, 0.22);
    margin-bottom:30px

   }


.navbar-collapse {

   padding-top:11px;
}

   .navbar-light .navbar-nav .nav-link {
          padding-bottom: 10px;
              padding-top: 0px;

   }
.navbar-light .navbar-toggler {

      background-color: #fff !important;
          display: block;
    float: right;
    margin-right: 15px;
    margin-top: 3px;
   }
   
 
 .menu-mobile {
    width:100%;
    display:block;
        background-color: #5B5351;
    margin-top: 0px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
 }

 
}
</style>
