<template>
   <div class="carousel-item">
      <div class="item-container">
         <div class="item">
            <div class="item-title">{{title}}</div>
               <div class="item-text">
               <h1>  De <span>Segunda</span> a <span>Sabádo</span> promoções de bebidas para você</h1>
               </div>
               <div class="item-button">
                  <span class="standard-btn"><a href="/#/bebidas">Saiba Mais</a></span>
               </div>
            </div>
         </div>
         <img class="carousel-img" :src="img">
      </div>
   </div>
</template>

<script>
export default {
   name: "EventCard",
   props: {
      img: String,
      title: String,
      text: String
   }
};
</script>

<style>
.carousel-item{
   display: initial;
}

.item-container{
   position: absolute;
    color: #fff;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.item {
   position: relative; 
   margin-top: 80px;
}

.item-title {
   font-size: 56px;
}

.item-text {
    margin-top: 10px;
   font-size: 36px;
   width: 700px;
}

.item-text h1 {
   font-weight: 300;
    font-size: 31px;
    line-height: 48px;
}

.item-text h1 span {
   font-weight:500;
}
.item-button {
   margin-top: 5%;
}

.item-button span {
   font-size: 19px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 6px;
    font-weight: 300;
    background-color: transparent;
    color: #fff;
    transition: 0.3s;
}

.item-button span a {
   color: #fff !important;
}

.item-button span a:hover {
      color: #A98F71 !important;
}


.item-button span:hover {
   background-color: #fff;

}
.carousel-img {
   filter: brightness(50%);
}

@media only screen  and (min-device-width : 320px) and (max-device-width : 568px)  { 

.item {

 margin-top: 19px;
}
   .item-title {
      font-size:36px;
   }

.item-text {
     
    width: 100%;
   }

   .item-text h1 {
          font-size: 16px;
    line-height: 20px;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
   }

   .carousel-item {
      height:230px;
   }

   .owl-carousel .owl-item img {
      height:100%;
   }

   .item-button {
      width: 146px;
    margin: auto;
    margin-top: 19px;
   }

   .item-button span {
          font-size: 16px;
   }
}

</style>