<template>
   <div class="event-card" id="event-card">
      <router-link :to="'/show/'+url" >
         <div class="img-content">
            <img 
              class="event-img"
              :src="img"> 
         </div>
         <div class="home-event-list">
            <h2>{{ date | formatDate2Display }}</h2>
            <p>{{ performer }}</p>
         </div>
      </router-link>
   </div>
</template>

<script>
import { monthsArray } from '@/services/monthsArray';

export default {
  name: "EventCard",
  props: {
    img: String,
    date: String,
    performer: String,
    url: String
  },
  data() {
    return {
        scrollOptions: {
          el: '#event-card',
          duration: 2000
       }
    }
  },
  methods: {
    scrollToTop() {
      window.scrollTo(0,0);
    }, 
    
  },
  filters: {
    formatDate2Display: function(date) {
      if(!date) return;
      let month = date.substring(5,7)
      return `${date.substring(8,10)} de ${monthsArray()[parseInt(month)-1]}` 
    }  
  }
};
</script>

<style>
   .event-img {
      width: 90%;
      /*box-shadow: 3px 3px 6px #000000;*/
   }

   .home-event-list {
      text-align:center;
   }

   .home-event-list h2 {
      font-size:20px;
      color: #9F6858;
      margin-top: 10px;
      margin-bottom: 3px;
   }

   .home-event-list p {
      font-size:18px;
      color: #707070;
   }


   .event-card {
      padding: 5px;
      /*display: inline-block;*/
   }
</style>