<template>
<section class="login-bg">
  <div class="container" id="login">
    <div class="login-container">
      <form @submit.prevent="authenticate" class="login-form">
        <div class="logo-login">
            <img src="@/assets/imgs/logo.png">
        </div>
        <div class="row">
          <div class="form-group login-input">
          <label>E-mail</label>
            <input type="email" v-model="form.email" name="email" class="form-control" id="email" placeholder="Email">
            <span 
              class="error-msg"
              v-bind:class="{ 'hidden': !showEmailError, 'show': showEmailError }"
              >*{{ required_email }}</span>
          </div>    
        </div>
        <div class="row">
          <div class="form-group login-input">
           <label>Senha</label>
            <input type="password" v-model="form.password" name="senha" class="form-control" id="senha" placeholder="Senha">
            <span 
              class="error-msg"
              v-bind:class="{ 'hidden': !showPasswError, 'show': showPasswError }">*{{ required_pass }}</span>
          </div>
        </div>
        <div class="row">
          <div class="spinner-loader" v-if="isLoading">
            <span class="spinner-grow text-warning" role="status" aria-hidden="true"></span>
            <span class="spinner-grow text-warning" role="status" aria-hidden="true"></span>
            <span class="spinner-grow text-warning" role="status" aria-hidden="true"></span>
          </div>
          <button 
            v-if="!isLoading"
            type="submit" 
            class="btn-brown btn btn-outline-secondary login-btn">Login</button>
        </div>
        
      </form>
    </div>
  </div>
</section>
</template>

<script>
import { login } from '@/services/auth'

export default {
  name: "login",
  components: {  },
  data() {
    return {
      form: {
        email: null,
        password: null
      },
      required_email: null,
      required_pass: null,
      showEmailError: false,
      showPasswError: false,
      isLoading: false,
    }
  },
  methods: {
    authenticate() {
      if(!this.form.email || !this.form.password){
        if(!this.form.email){
          this.showEmailError = true
          this.required_email = "campo obrigatório"
          setTimeout(function () { this.showEmailError = false }.bind(this), 3000)
        }
        if(!this.form.password){
          this.showPasswError = true
          this.required_pass = "campo obrigatório"
          setTimeout(function () { this.showPasswError = false }.bind(this), 3000)
        }
        return
      }
      this.isLoading = true
      login(this.$data.form)
        .then(res => {
          this.isLoading = false
          this.$store.commit("login/loginSuccess", res);
          this.$router.push({path: '/dashboard'});
        })
        .catch(error => {
          this.isLoading = false
          this.$store.commit("login/loginFailed", {error});
          this.showPasswError = true
          this.showEmailError = true
          this.required_email = "Email ou Senha inválidos"
          this.required_pass = "Email ou Senha inválidos"
          setTimeout(function () { this.showPasswError = false; this.showEmailError = false; }.bind(this), 3000)
        })
    },
  }
};
</script>

<style>
  .login-container {
    text-align: center;
    background-color: #fff;
    box-shadow: 3px 3px 8px #00000054;
    max-width: 400px;
    border-radius: 10px;
    margin: auto;
    margin-top: 90px;
  }

  .login-form{
    padding: 60px;
  }

  .login-input {
    margin: auto;
    margin-bottom: 20px;
    text-align: left;
    height: 110px;
  }

  .error-msg {
    color: red; 
    font-size: 10px;
    -webkit-transition: all 1s ease-in;
       -moz-transition: all 1s ease-in;
        -ms-transition: all 1s ease-in;
         -o-transition: all 1s ease-in;
            transition: all 1s ease-in;
  }

  .hidden {
    opacity: 0;
  }

  .show {
    opacity: 1;
  }


  .login-input input {
    padding: 25px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    width: 300px;
  }

  .login-input label {
    display: block;
    text-align: left;
    color: #495057;
    font-size: 15px;
    font-weight: 600;
  }

  .logo-login {
    padding-top: 0px;
    margin-bottom: 50px;
  }

  .logo-login img {
    width: 100%;
  }

  .login-btn {
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
  }

  .login-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #1f1e1e;
  }

  .spinner-loader{
    margin: auto;
  }

  *:focus {
    outline: none;
  }
</style>
