<template>
  <router-view></router-view>
   <!--div id="app">
      <Main class="main-content"></Main> 
   </div-->
</template>

<script>
import Main from "./pages/Main.vue";

export default {
   name: "app",
   components: {
      Main
   }
};
</script>

<style>
@import './assets/styles/main.css';

#app {
   background-image: url("./assets/imgs/background.png"); 
   background-position: center; /* Center the image */
   background-repeat: no-repeat; /* Do not repeat the image */
   background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #707070;
}

.main-content{
   padding-left: 0px !important;
   padding-right: 0px !important;
}
</style>
