@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');


html, body {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 200;
}

a:hover{
   text-decoration: none !important;
}

.active-tab {
   color: #A98F71 !important;
}

.main-content {
   background-color: #fff;
}

.page-container {
   margin-right: 8%;
   margin-left: 8%;
}

.standard-btn {
   border: 1px solid #A98F71;
   border-radius: 5px;
   padding: 5px;
   padding-right: 20px;
   padding-left: 20px;
   color: #A98F71;
   cursor: pointer;
   background-color: #fff;
}

.btn-blue {
   color: #5C71AC;
   border: 1px solid #5C71AC;
}

.btn-brown {
   color: #A98F71 !important;
   border-color: #A98F71 !important;
}

.btn-brown:hover {
   color: #fff !important;
   background-color: #A98F71 !important;
}

.h2-label {
   font-size: 25px;
   color: #9F6858;
}

.h3-label {
   font-size: 26px;
   color: #9F6858;
}

.events-section {
   margin-top: 3%;
}

.event-label {
   color: #5B5351;
   font-size: 28px;
}

.white-label {
   color: #fff;
   font-size: 28px;
}

::placeholder {
   color: #fff;
   opacity: 1; /* Firefox */
 }
 
 :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#fff;
 }
 
 ::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
 }

 .facebook-btn {
   padding: 15px !important;
   font-size: 15px !important;
   width: 239px !important;

 }


 .lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}


.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

.thumbnail {
   max-width: 100%;
 }


 @media only screen  and (min-device-width : 320px) and (max-device-width : 568px)  { 

   .facebook-btn{
      margin-bottom:20px; 
   }
 }