<template>
  <div class="event-container">
      <div class="event-info">
         <div class="row">
            <div class="event-description col-md-6">
               <div class="event-date">
                  {{ display_event.performer }}
               </div>
               <div class="event-performer">
                  {{ display_event.event_date }}
               </div>
               <div class="performer-info">
                  {{ display_event.description }}
               </div>
               <div class="btn-container">
                    <button 
                      type="button" 
                      class="btn btn-outline-primary btn-blue facebook-btn"
                      @click.prevent="openLink">VER EVENTO NO FACEBOOK</button>
                  
               </div>
            </div>
            <div class="event-img col-md-6">
                 <img 
                  class="event-img" 
                  :src="display_event.photo_bg">
            </div>
         </div>
         <div class="row">
            <div class="event-ticket col-md-6">
               <div class="h3-label">
                  Informações
               </div>
               <div class="event-ticket-box">
                  <div class="event-ticket-info">
                     <strong>Horário: </strong>{{ display_event.event_hour }}
                  </div>
                  <div class="event-ticket-info">
                     <strong>Entrada: </strong>{{ display_event.event_value }}
                  </div>
                  <div class="event-ticket-info">
                     <strong>Estacionamento: </strong>{{ display_event.parking_lot_value }}
                  </div>
                  <!--<div class="event-ticket-info">
                     <strong>Aniversariantes: </strong>Você e mais 10 amigos de graça.
                     Entre em contato conosco pelo número (11) 11111-1111 para saber mais
                  </div>-->
               </div>
            </div>
            <div class="event-promotion col-md-6">
               <div class="h3-label">
                  Promoções da Noite
               </div>
               <div class="event-promotion-box">
                  <div class="event-ticket-info" v-for="(promotion, index) in display_event.promotions" :key="index">
                    {{ promotion.promotion }} - R$ {{ promotion.value }}
                  </div>
                  <div class="event-ticket-info">
                   <small>*Preços válidos somente durante o <strong><router-link to="/obar">Happy Hour</router-link></strong></small>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="events-section events-section-event">
         <span class="h3-label other-events">Outros eventos</span>
         <div class="events-cards row">
          <div 
            class="col-md-3 card-container"
            v-for="event in events"
            v-on:click.prevent="changeEvent(event.event_url)"
          >
            <EventCard
               :img="event.photo_card"
               :date="event.event_date"
               :performer="event.performer"
               :url="event.event_url">
            </EventCard>
          </div>
         </div>
      </div>
  </div>
</template>

<script>
import EventCard from '@/components/event-card/EventCard.vue'
import { mapState } from 'vuex';
import { monthsArray } from '@/services/monthsArray';

export default {
  name: "event",
  components: { 
    EventCard
  },
  data() {
    return {
      display_event: {
        id: null,
        performer: '',
        description: '',
        event_date: '',
        event_value: 25,
        parking_lot_value: 30,
        photo_bg: null,
        promotions: [],
        event_url: '',
        event_facebook_link: ''
      },
      events: []
    }
  },
  created() {
    if(this.$route.params.url){
      let data = {
        id: this.$route.params.url
      }
      this.$store.dispatch('page_events/getEvent', data)
    }
    this.$store.dispatch('page_events/nextEvents')
  },
  methods: {
    formatDate2Display: function(date) {
      let month = date.substring(5,7)
      return `${date.substring(8,10)} de ${monthsArray()[parseInt(month)-1]}` 
    },
    formatHour2Display: function(hour) {
      return `${hour.substring(11,16)} horas` 
    },
    changeEvent: function(url) {
      let data = {
        id: url
      }
      this.$store.dispatch('page_events/getEvent', data)
    },
    openLink(){
      window.open(this.display_event.event_facebook_link);
    }
  },
  computed: mapState('page_events',['event', 'promotions', 'nextEvents']),
  watch: {
    event(event) {
      //if (event && this.$route.params.url) {
      if (event) {
        this.display_event = {
          id: event.id,
          performer: event.performer,
          description: event.description,
          event_date: this.formatDate2Display(event.event_date),
          event_hour: this.formatHour2Display(event.event_date),
          event_facebook_link: event.event_facebook_link,
          event_value: event.event_value,
          parking_lot_value: event.parking_lot_value,
          photo_bg: event.photo_bg,
          event_url: event.event_url
        }
      }
    },
    promotions(promotions) {
      if(promotions){
        this.display_event.promotions = promotions
      }
    },
    nextEvents(nextEvents) {
      if(nextEvents){
        this.events = nextEvents;
      }
    }
  }
};
</script>

<style>
   .event-container {
      margin-top: 5%;
      margin-right: 8%;
      margin-left: 8%;
      text-align: left;
   }

   .event-description {
      padding-right: 5%;
   }

   .event-performer {
      color: #707070;
  font-size: 22px;
   }

   .event-date{
      color: #9F6858;
   font-size: 32px !important;
   }

   .performer-info {
      margin-top: 5%;
      font-size: 14px;
   }

   .btn-container {
      margin-top: 5%;
   }

   .btn-facebook {
      font-size: 14px;
      width: 50%;
   } 

   .btn-photo {
      margin-top: 3%;
      width: 50%;
      display: block;
      font-size: 14px;
   }

   .event-img {
      width: 100%;
   }

   .event-ticket {
      margin-top: 5%;
      padding-right: 8%;
      font-size: 16px;
   }

   .event-promotion {
      margin-top: 5%;
      font-size: 16px;
   }

   .event-promotion-box {
      margin-top: 3%;
   }

   .event-ticket-box{
      margin-top: 3%;
   }

   .event-ticket-info {
      margin-bottom: 2%;
   }

   .events-section-event{
      margin-top: 8%;
   }

   .other-events {
      text-align: left;
   }

   .card-container {
     cursor: pointer;
   }

   @media only screen  and (min-device-width : 320px) and (max-device-width : 568px)  { 

   .event-list-cards > .col-md-6 {
      margin-bottom:20px; 
   }

   .event-description {
      order:2;
      margin-top:20px;
   }
   .btn-facebook {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    margin-bottom:10px;
   }

   .btn-photo {
       width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    margin-bottom:15px;
   }
}
</style>
