<template>
  <div class="event-list-container page-container">
    <div class="row">
      <div class="event-list-months">
        <div 
          class="btn-months btn-brown btn btn-outline-secondary"
          v-for="label in filtersMonths"
          v-on:click.prevent="filterByMonth(label.index)"
          :class="{ 'btn-brown-clicked': currentFilter == label.index }"
          >
          {{label.month}}</div>
        </div>
      </div>
      <div class="event-list-cards" v-if="auxEvent.length > 0">
         <div class="row">
            <EventCard 
               class="col-md-6"
               v-for="event in auxEvent"
               :img="event.photo_bg"
               :date="event.event_date"
               :performer="event.performer"
               :url="event.event_url">
            </EventCard>
         </div>
      </div>
      <div class="no-event" v-if="auxEvent.length == 0">
         <h2 class="no-attraction">ATRAÇÕES SERÃO REVELADAS EM BREVE</h2>
      </div>
   </div>
</template>

<script>
import EventCard from '@/components/event-card/EventCard.vue'
import { mapState } from 'vuex';
import { monthsArray } from '@/services/monthsArray';

export default {
  name: "events",
  components: {
    EventCard
  },
  created() {
    this.$store.dispatch('page_events/eventList')
    //this.createFilterLabel()
  },
  data() {
    return {
      currentFilter: null,
      events: [],
      auxEvent: [],
      filtersMonths: []
    }
  },
  methods: {
    filterByMonth(month){
      this.currentFilter = month
      this.auxEvent = this.events.filter((value, index) => {
        return value.event_date.split('-')[1] == (month + 1)
      })
    },
    createFilterLabel(){
      let currentMonth = new Date().getMonth()
      this.currentFilter = currentMonth
      let length = monthsArray().length
      for(let i = 0; i < 5; i++){
        let index = (currentMonth + (i-2)) % length
        this.filtersMonths.push({
          index: index,
          month:  monthsArray()[index]
        })
      }
    }
  },
  computed: mapState('page_events',['eventList', 'monthsFilter']),
  watch: {
    eventList(eventList) {
      if(eventList){
        this.events = eventList;
      }
    },
    monthsFilter(monthsFilter) {
      if(monthsFilter){
        let currentMonth = new Date().getMonth()
        this.currentFilter = currentMonth
        this.filterByMonth(this.currentFilter)
        for(let i = 0; i < monthsFilter.length; i++){
          let index = (monthsFilter[i] - 1)
          this.filtersMonths.push({
            index: index,
            month:  monthsArray()[index]
          })
        }
      }
    }
  },
};
</script>

<style>


.event-list-container {
   margin-top: 2%;
}

.event-list-img {
   width: 100%;
}

.event-list-block {
   margin-bottom: 45px;;
}

.event-list-card-info {
      display: block;
    text-align: center;
    font-size: 18px;
   color: #707070;
}

.event-list-card-info:hover {
   color: #9F6858;
}

.event-list-months {
   margin: auto;
   width: 100%;
   margin-bottom: 4%;
}

.btn-months {
   margin-right: 2%;
   cursor:pointer;
}

.btn-brown-clicked {
   color: #fff !important;
   background-color: #A98F71 !important;
   border-color: #A98F71 !important
}

.no-event {
   height: 200px;
}

.no-attraction {
   line-height: 200px;
   font-weight: 300;
    font-size: 28px;
}

@media only screen  and (min-device-width : 320px) and (max-device-width : 568px)  { 

   .event-list-cards .col-md-6 {
      margin-bottom:0px; 
   }

   .event-list-block {
      margin-bottom:0px;
   }

   .no-attraction {
          line-height: 31px;
    font-weight: 300;
    font-size: 28px;
    padding-top: 70px;

   }

   .btn-months {
      margin-bottom:20px !important;
   }

   .event-list-months {
          margin-top: 30px;
   }
}
</style>
