<template>
  <div class="food-container" id="menu">
      <div class="row">
         <div class="carte-option col-md-6">
            <router-link to="/cardapios">
               <img class="carte-img" src="@/assets/imgs/menu/hamburgers.png">
               <span class="carte-text">Hambúrgueres</span>
            </router-link>
         </div>
         <div class="carte-option col-md-6">
            <router-link to="/cardapios">
               <img class="carte-img" src="@/assets/imgs/menu/petiscos.png">
               <span class="carte-text">Petiscos e Porções</span>
            </router-link>
         </div>
      </div>
      <div class="row carte-row">
         <div class="carte-option col-md-6">
            <router-link to="/cardapios">
               <img class="carte-img" src="@/assets/imgs/menu/sobremesa.png">
               <span class="carte-text">Sobremesas</span>
            </router-link>
         </div>
         <div class="carte-option col-md-6">
            <router-link to="/cardapios">
               <img class="carte-img" src="@/assets/imgs/menu/saladas.png">
               <span class="carte-text">Saladas</span>
            </router-link>
         </div>
      </div>
  </div>
</template>

<script>

export default {
  name: "menu",
  components: {  }
};
</script>

<style>
   .food-container {
      margin-left: 8%;
      margin-right: 8%;
      padding-top: 2%
   }

   .carte-row {
      margin-top: 5%;
   }

   .carte-img {
      width: 100%;
      cursor: pointer;
   }

   .carte-text {
      color: #9F6858;
      font-size: 24px;
   }
</style>
