<template>
  <div class="food-list-container" id="events">
      
      <div class="food-label" :style="cssProps">
         HAMBÚRGUERES
      </div>

      <div class="food-list">
         <div class="row list-item">
            <div class="col-md-4 food-list-block">
               <div class="food-title">
                  Americano
               </div>
               <div class="recipe">
                  Presunto, ovo, queijo prato, alfase lisa,
                  tomate e maionese, no pão de forma.
                  Servida com fritas.
               </div>
            </div>
            <div class="col-md-4 food-list-block">
               <div class="food-title">
                  Club Sandwich
               </div>
               <div class="recipe">
                  Presunto, ovo, queijo prato, alfase lisa,
                  tomate e maionese, no pão de forma.
                  Servida com fritas.
               </div>
            </div>
            <div class="col-md-4 food-list-block">
               <div class="food-title">
                  Fish Sandwich
               </div>
               <div class="recipe">
                  Presunto, ovo, queijo prato, alfase lisa,
                  tomate e maionese, no pão de forma.
                  Servida com fritas.
               </div>
            </div>
         </div>
         
         <div class="row list-item">
            <div class="col-md-4 food-list-block">
               <div class="food-title">
                  Chili Dog
               </div>
               <div class="recipe">
                  Presunto, ovo, queijo prato, alfase lisa,
                  tomate e maionese, no pão de forma.
                  Servida com fritas.
               </div>
            </div>
            <div class="col-md-4 food-list-block">
               <div class="food-title">
                  Spice Dog
               </div>
               <div class="recipe">
                  Presunto, ovo, queijo prato, alfase lisa,
                  tomate e maionese, no pão de forma.
                  Servida com fritas.
               </div>
            </div>
            <div class="col-md-4 food-list-block">
               <div class="food-title">
                  Steak Sandwich
               </div>
               <div class="recipe">
                  Presunto, ovo, queijo prato, alfase lisa,
                  tomate e maionese, no pão de forma.
                  Servida com fritas.
               </div>
            </div>
         </div>
         <div class="row list-item">
            <div class="col-md-4 food-list-block">
               <div class="food-title">
                  Choripan
               </div>
               <div class="recipe">
                  Presunto, ovo, queijo prato, alfase lisa,
                  tomate e maionese, no pão de forma.
                  Servida com fritas.
               </div>
            </div>
            <div class="col-md-4 food-list-block">
               <div class="food-title">
                  Bacon Sandwich
               </div>
               <div class="recipe">
                  Presunto, ovo, queijo prato, alfase lisa,
                  tomate e maionese, no pão de forma.
                  Servida com fritas.
               </div>
            </div>
            <div class="col-md-4 food-list-block">
               <div class="food-title">
                  Beirute de Filé
               </div>
               <div class="recipe">
                  Presunto, ovo, queijo prato, alfase lisa,
                  tomate e maionese, no pão de forma.
                  Servida com fritas.
               </div>
            </div>
         </div>
      </div>
  </div>
</template>

<script>

export default {
  name: "events",
  components: {  },
  data() {
      return{
         cssProps: {
            background: `linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(${require('@/assets/imgs/hamburger.png')})`,
            backgroundPosition: 'center',
            backgroundRepeat: 'no-repeat',
            height: '375px',
            color: '#fff',
         }
      }
   }
};
</script>

<style>

.food-label {
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:55px;
}

.food-list {
   text-align: left;
   margin-left: 8%;
   margin-right: 8%;
}

.list-item{
   margin-top: 4%;
}

.food-title{
   color: #5B5351;
   font-size: 28px;
}

.recipe {
   font-size: 16px;
   margin-top: 2%;
}

   @media only screen  and (min-device-width : 320px) and (max-device-width : 568px)  { 

   .food-list-block {
      margin-bottom:20px; 
      }

   .food-label {
      font-size:36px;
      height:250px  !important; 
      background-position:center;
      }
   }

</style>
